/*==== main card style ====*/
.card {
	transition: transform 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
}
.card-title {
	color: var(--primary);
}
.card-text {
	color: rgb(29, 28, 28);
}
/*==== image styles ====*/
.img-container {
	position: relative;
}
.img-container {
	transition: 0.5s ease;
	backface-visibility: hidden;
}
.img-container:hover .image {
	opacity: 0.6;
}
.img-container:hover .overlay {
	opacity: 1;
}
/*==== icon overlay ====*/
.overlay {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*==== button style ====*/
.btn-custom {
	background-color: #100f117f;
}
.btn-custom:hover {
	background-color: var(--secondary-dark);
}

/* .button-icon {
	background-color: var(--primary);
} */

.card-background {
	background-color: #9321e44f;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}
/*==== image styles ====*/
.fixed-size-image {
	object-fit: contain; /* This property ensures the image covers the specified dimensions */
}

.fixed-size-image {
	width: 100%; /* make image width stretch to the container width */
	height: auto; /* maintain the aspect ratio of the image */
	object-fit: cover; /* this will cover the area of the container without stretching the image */
}

.card {
	/* If you want the card to adjust based on the content including the image */
	height: auto;
}

/* If you're using h-100 to make the card full height of its container, and you want to maintain that */
.h-100 {
	height: 100%;
}
