.image-container-wrapper {
	position: relative;
	background-color: #9321e44f;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 270px;
}

.image-container {
	position: absolute;
	top: 70px; /* check later, if I still want offset  container behind the profile pic when I have move elements on the page*/
	left: 60px; /* check later,  if I still want offset  container behind the profile pic when I have move elements on the page*/
}

.round-image {
	display: block;
	border-radius: 50%;
	width: 50vw;
	height: 50vw;
	object-fit: cover;
	max-width: 470px;
	max-height: 470px;
}

@media (min-width: 768px) {
	.round-image {
		width: 35vw;
		height: 35vw;
	}
}

@media (min-width: 1008px) and (max-width: 1040px) {
	.round-image {
		width: 40vw;
		height: 40vw;
	}
}

.overlay-text {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 24px;
}

@media (max-width: 575.98px) {
	.overlay-text {
		font-size: 20px;
	}
}
.home-text {
	border-bottom: 3px solid var(--primary);
}

/* OLD IMAGE WRAPPER BELOW,  CHECK IF YOU STILL WANT OFFSET AT THE END */
/* .image-container-wrapper {
	background-color: #9321e44f;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px;
} */
