@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,500;1,600&display=swap");

.round-image {
	display: block;
	border-radius: 50%;
	width: 50vw;
	height: 50vw;
	object-fit: cover;
	max-width: 550px;
	max-height: 550px;
}

.image-container-wrapper {
	max-width: 550px;
	max-height: 550px;
	background-color: #9321e44f;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7px;
}
@media (min-width: 768px) {
	.round-image {
		width: 45vw;
		height: 45vw;
		max-width: 400px;
		max-height: 400px;
	}
	.image-container-wrapper {
		width: 48vw;
		height: 48vw;
		max-width: 415px;
		max-height: 415px;
	}
}
@media (min-width: 1008px) and (max-width: 1040px) {
	.round-image {
		width: 40vw;
		height: 40vw;
	}
	.image-container-wrapper {
		width: 42vw;
		height: 42vw;
	}
}

.home-text {
	border-bottom: 3px solid #4a8179;
}
.tag-line-text {
	color: #c2fcf3;
	font-size: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 991px) and (max-width: 1360px) {
	.tag-line-text {
		font-size: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

article h5 {
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-weight: 400;
	/* color: #e7e6e1; */
	/* color: #f8f8f8; */

	color: #b3b1b1;
}

/* .overlay-text {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 24px;
}

@media (max-width: 575.98px) {
	.overlay-text {
		font-size: 20px;
	}
} */
