.main-footer {
	color: white;
	background-color: rgba(69, 41, 88, 0.656);
	padding-top: 3em;
	position: relative;
	bottom: 0;
	width: 100%;
}

/* ==== CONTACT ME ICONS ====*/
.icon-list {
	display: flex;
	list-style: none;
	padding: 0;
}
.icon-list li a {
	margin-right: 23px;
}
.icon-list li i:hover {
	opacity: 0.5;
}

.icon-list li:last-child a {
	margin-right: 0;
}

/* ==== RESUME LINK ====*/
.custom-a {
	color: white;
}
.custom-a:hover {
	opacity: 0.5;
}

.section-text {
	color: #070707b3;
}
