@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
	font-family: "Quicksand";
	line-height: 1.2;
	font-weight: 700;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	/* background-color: #353535; */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary: #922ade;
}
body {
	margin: 0 !important;
	padding: 20px !important;
	background: var(--secondary) !important;
}
* {
	color: #fff;
	margin: 0;
}

main {
	max-width: 1200px;
	margin: 40px auto;
}

/* ===== NAVBAR STYLES ===== */
.navbar {
	display: flex;
	gap: 16px;
	justify-content: end;
	max-width: 1200px;
	margin: 0 auto;
}

.navbar-brand {
	font-size: 26px;
	margin-right: auto;
	border-bottom: 3px solid var(--primary);
	color: #efecec !important;
}
.nav-link {
	text-decoration: none !important;
	padding: 6px;
	border-radius: 4px;
	color: #fff !important;
	/* Check if I want margin right here or set the margin-right on NOT THE LAST CHILD */
}
.nav-link:not(:last-child) {
	margin-right: 20px; /* Check if I want margin right here or set the margin-right on NAV LINK ITSELF */
}
.navbar-toggler {
	border: 1px solid rgba(69, 41, 88, 0.656);
	text-decoration: none;
	color: var(--primary) !important;
}
.navbar-toggler:focus {
	border: 3px solid var(--primary);
	text-decoration: none;
	outline: 0;
	box-shadow: none;
}
.custom-span {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(146, 42, 222)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
